/*
 * -------------------------------------------------
 *  CFIA-NCFAD/nf-ionampliseq Nextflow config file
 * -------------------------------------------------
 * Default config options for all environments.
 */

// Global default params, used in configs
params {
  // input/output params
  input = null
  sample_sheet = null
  rundir = null
  outdir = './results'
  
  panel = null
  panels {
    'csf' {
      fasta = "$baseDir/data/csf/CSFV_AmpliSeq.fasta"
      bed_file = "$baseDir/data/csf/WG00242.20170223.designed.bed"
    }
    'fmd' {
      fasta = "$baseDir/data/fmd/FMDV_AmpliSeq_WG0022620160728referenceSequences.fasta"
      bed_file = "$baseDir/data/fmd/WG00226.20160728.Designed.gc.bed"
    }
  }
  ref_fasta = null
  bed_file = null
  tvc_error_motifs_dir = "$baseDir/data/tvc-sse"
  trim_primers = true
  mash_k = 19
  mash_s = 10000
  tvc_read_limit = 4000000
  tvc_downsample_to_coverage = 8000
  tvc_min_mapping_qv = 0
  tvc_read_snp_limit = 20
  low_coverage = 1
  no_coverage = 0
  low_cov_char = 'N'
  no_cov_char = 'N'
  output_unmapped_reads = false

  // variant filtering parameters
  minor_allele_fraction             = 0.25
  major_allele_fraction             = 0.75
  filter_frameshift_variants        = false

  // BLAST parameters
  blast_db = null

  // Slurm cluster scheduler options
  slurm_queue = null
  slurm_queue_size = 100

  // Boilerplate options
  publish_dir_mode = 'copy'
  name = false
  multiqc_config = false
  email = false
  email_on_fail = false
  max_multiqc_email_size = 25.MB
  plaintext_email = false
  monochrome_logs = false
  help = false
  tracedir = "${params.outdir}/pipeline_info"

  // Defaults only, expecting to be overwritten
  max_memory = 32.GB
  max_cpus = 4
  max_time = 240.h
}

// Container slug. Stable releases should specify release tag!
// Developmental code should specify :dev


// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

profiles {
  apptainer {
    apptainer.enabled      = true
    apptainer.autoMounts   = true
    singularity.enabled    = true
    singularity.autoMounts = true
    charliecloud.enabled   = false
    docker.enabled         = false
    apptainer.enabled      = false
    podman.enabled         = false
    shifter.enabled        = false
  }
  conda {
    conda.enabled          = true
    apptainer.enabled      = false
    docker.enabled         = false
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
    // Increase time available to build Conda environment
    conda.createTimeout    = "120 min"
    conda.useMamba         = params.use_mamba
  }
  mamba {
    conda.enabled          = true
    conda.useMamba         = true
    apptainer.enabled      = false
    docker.enabled         = false
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
    // Increase time available to build Conda environment
    conda.createTimeout    = "120 min"
  }
  debug { process.beforeScript = 'echo $HOSTNAME' }
  docker {
    docker.enabled         = true
    docker.userEmulation   = true
    apptainer.enabled      = false
    singularity.enabled    = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
  }
  podman {
    podman.enabled         = true
    apptainer.enabled      = false
    docker.enabled         = false
    singularity.enabled    = false
    shifter.enabled        = false
    charliecloud.enabled   = false
  }
  singularity {
    singularity.enabled    = true
    singularity.autoMounts = true
    docker.enabled         = false
    podman.enabled         = false
    shifter.enabled        = false
    charliecloud.enabled   = false
  }
  slurm {
    includeConfig 'conf/slurm.config'
  }
  test { 
    includeConfig 'conf/test.config' 
  }
}

// Load modules.config for DSL2 module specific options
includeConfig 'conf/modules.config'

// Export these variables to prevent local Python/R libraries from conflicting with those in the container
env {
  PYTHONNOUSERSITE = 1
  R_PROFILE_USER = "/.Rprofile"
  R_ENVIRON_USER = "/.Renviron"
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']

def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
  enabled = true
  file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
  enabled = true
  file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
  enabled = true
  file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
  enabled = true
  file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.svg"
}

manifest {
  name = 'CFIA-NCFAD/nf-ionampliseq'
  author = 'Peter Kruczkiewicz'
  homePage = 'https://github.com/CFIA-NCFAD/nf-ionampliseq'
  description = 'Ion Torrent Ampliseq workflow for analysis of FMDV, CSFV, Zika, Ebola amplicon sequence data'
  mainScript = 'main.nf'
  nextflowVersion = '!>=22.10.1'
  version = '2.0.1'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
def check_max(obj, type) {
  if (type == 'memory') {
    try {
      if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
        return params.max_memory as nextflow.util.MemoryUnit
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'time') {
    try {
      if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
        return params.max_time as nextflow.util.Duration
      else
        return obj
    } catch (all) {
      println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
      return obj
    }
  } else if (type == 'cpus') {
    try {
      return Math.min( obj, params.max_cpus as int )
    } catch (all) {
      println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
      return obj
    }
  }
}
